<section>
  <h3>
    Event List
  </h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Event ID</th>
        <th scope="col">Event Name</th>
        <th scope="col">Session Time</th>
        <th scope="col">City</th>
        <th scope="col">Temperature</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events" [class.selected]="isSelected(event)" (click)="onSelect(event)">
        <th scope="row">{{event.id}}</th>
        <td>{{event.name}}</td>
        <td>{{event.time | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{event.city}}</td>
        <div *ngIf="event.temperature; then thenBlock else elseBlock;"></div>
        <ng-template #thenBlock>
          <td>{{event.temperature}}C</td>
        </ng-template>
        <ng-template #elseBlock>
          <td>
              Loading...
          </td>
        </ng-template>
      </tr>
    </tbody>
  </table>
</section>
