<!-- <header>
  <div class="container">
    <nav>
      <ul>
        <li><a routerLink="/events" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/create-event" routerLinkActive="active">Create&nbsp;Event</a></li>
      </ul>
    </nav>
    <a routerLink="/" class="logo">{{ appTitle }}</a>
  </div>
</header> -->

<header>

  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#loso-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a routerLink="/" class="navbar-brand logo" href="#">{{ appTitle }}</a>
          </div>

          <div class="collapse navbar-collapse" id="loso-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/events" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/create-event" routerLinkActive="active">Create&nbsp;Event</a></li>
              </ul>

          </div>
      </div>
  </nav>
</header>
