.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.form-group {
  display: flex;
  flexDirection: row;

  label {
    width: 25%;
  }

  input {
    width: 74%;
    margin-left: 1em;
  }
}

.btn-section {
  display: flex;
  justify-content: space-between;
}
