<div class="container">
  <div *ngIf="selectedEvent; then thenBlock;"></div>
  <ng-template #thenBlock>
    <div>
      <div class="form-group">
        <label for="id">Event Id</label>
        <input type="text" disabled class="form-control" id="id" placeholder="Event Id">
      </div>
      <div class="form-group">
        <label for="name">Event Name</label>
        <input [(ngModel)]="selectedEvent.name" type="text" class="form-control" id="name" placeholder="Event Name">
      </div>
      <div class="form-group">
        <label for="time">Seesion Time</label>
        <input [(ngModel)]="selectedEvent.time" type="text" class="form-control" id="time" placeholder="Session Time">
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input [(ngModel)]="selectedEvent.city" type="text" class="form-control" id="city" placeholder="City" value="{{selectedEvent.city}}">
      </div>
      <div>
        <label for="country">Country</label>
        <input [(ngModel)]="selectedEvent.country" type="text" class="form-control" id="country" placeholder="Country" value="{{selectedEvent.country}}">
      </div>

      <div class="btn-section">
        <button class="btn btn-primary" (click)="updateEvent()">Submit</button>
        <button class="btn btn-danger" (click)="gotoEvents()">Cancel</button>
      </div>

    </div>
  </ng-template>
</div>
