<div class="container">
  <div *ngIf="event; then thenBlock;"></div>
  <ng-template #thenBlock>
  <form (ngSubmit)="saveEvent()">
    <div class="form-group">
      <label for="name">Event Name</label>
      <input [(ngModel)]="event.name" name="name" type="text" class="form-control" id="name" placeholder="Event Name">
    </div>
    <div class="form-group">
      <label for="time">Seesion Time</label>
      <input required [(ngModel)]="event.time" name="time" type="text" class="form-control" id="time" placeholder="Session Time">
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input [(ngModel)]="event.city" name="city" type="text" class="form-control" id="city" placeholder="City">
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <input [(ngModel)]="event.country" name="country" type="text" class="form-control" id="country" placeholder="Country">
    </div>

    <div class="btn-section">
      <button id="submit" type="submit" class="btn btn-primary">Submit</button>
      <button class="btn btn-danger" (click)="gotoEvents()">Cancel</button>
    </div>
  </form>
  </ng-template>
</div>
